<div class="related-links">
  <ul class="related-list">
    {% assign blog_posts = site.pages | where_exp:"p", "p.url contains '/blog/'" %}
    {% for item in blog_posts %}
      {% unless page.url == item.url %}
        <li class="related-item">
          <a href="{{ item.url }}">
            {% if item.image %}
              <img src="{{ item.image }}" alt="{{ item.title }} icono" class="related-icon">
            {% endif %}
            <div class="related-text">
              <p>{{ item.description }}</p>
            </div>
          </a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>
