<nav class="breadcrumb" aria-label="Breadcrumb">
  <ul itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ site.url }}{{ site.baseurl }}/" itemprop="item">
        <span itemprop="name">Inicio</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>

    {% assign url_parts = page.url | split: '/' %}
    {% assign position = 2 %}
    {% capture breadcrumb_path %}{{ site.baseurl }}{% endcapture %}
    {% assign last_index = url_parts | size | minus: 1 %}

    {% for part in url_parts %}
      {% if part != "" and part != "index.html" %}
        {% capture breadcrumb_path %}{{ breadcrumb_path }}/{{ part }}{% endcapture %}
        {% assign is_last = forloop.last %}

        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          {% if forloop.index == last_index %}
            <span itemprop="name">{{ part | replace:'-',' ' | capitalize }}</span>
            <meta itemprop="item" content="{{ breadcrumb_path | replace: '//', '/' | prepend: site.url }}/" />
          {% else %}
            <a href="{{ breadcrumb_path | replace: '//', '/' | prepend: site.url }}/" itemprop="item">
              <span itemprop="name">{{ part | replace:'-',' ' | capitalize }}</span>
            </a>
          {% endif %}
          <meta itemprop="position" content="{{ position }}" />
        </li>

        {% assign position = position | plus: 1 %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
