<nav class="breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/">
        <span>Inicio</span>
      </a>
    </li>

    {% assign url_parts = page.url | split: '/' %}
    {% assign breadcrumb_path = site.baseurl %}
    {% assign last_index = url_parts | size | minus: 1 %}

    {% for part in url_parts %}
      {% if part != "" and part != "index.html" %}
        {% capture breadcrumb_path %}{{ breadcrumb_path }}/{{ part }}{% endcapture %}

        <li>
          {% if forloop.index == last_index %}
            <span>{{ part | replace:'-',' ' | capitalize }}</span>
          {% else %}
            <a href="{{ breadcrumb_path | replace: '//', '/' | prepend: site.url }}/">
              <span>{{ part | replace:'-',' ' | capitalize }}</span>
            </a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>